{% extends 'layout.html' %}
{% block content %}

{% if not session.user_id %}
Please login to start sharing your memories.
{% else %}

{% for i, message in messages %}
    <i>The id for this post is:</i> {{ message[0] }} 
    <br>
    <a href='/show/{{ message[0] }}'> <img src='data:;base64, {{ images[i][0] }}' class="img-fluid" alt="{{ images[i][1] }}"/></a>
    <p>
    <i>Author:</i> <strong>{{ message[3] }}</strong>, {{ message[4].strftime("%Y-%m-%d %H:%M:%S") }}
    <p>
    <i>Title: </i> {{ message[1] }}
    <br>
    <i>Content: </i> {{ message[2] }}
    <br>
    <i>Comments: {{ comment_count[i] }} </i>
    <br>
    <a href='/posts/{{ message[0] }}'>Comment</a> 
    <hr>
    {% endfor %}


{% endif %}
{% endblock %}