{% extends 'layout.html' %}
{% block content %}

{% if not session.user_id %}
Please login to start sharing your memories.
{% else %}


{% for i, post in posts %}
<article class='media content-section'>
    <div class='media-body'>
        <a href='/posts/{{ post[0] }}'> <img src='data:;base64, {{ images[i][0] }}' class="img-fluid" alt="{{ images[i][1] }}" /></a>
        <div class='article-metadata'>
        <a class='mr-2'>Author: {{ post[3] }}</a>
        <a class='text-muted'>{{ post[4].strftime("%d.%m.%Y") }}</a>  
        </div>
        <h5>Title: {{ post[1] }}</h5>
        <p class='article-content'>Description: {{ post[2] }}</p>
        <p>Comments: {{ comment_count[i] }}</p>

        {% for i, comment in comments[i] %}

        {{ comment }}

        {% endfor %}
        <p><a href='/posts/{{ post[0] }}'>Comment</a></p>
    </div>
</article>
{% endfor %}
{% endif %}
{% endblock %}