{% extends 'layout.html' %}
{% block title %}Etusivu{% endblock %}
{% block content %}


<!-- kuvan muokkauksesta täällä: https://getbootstrap.com/docs/4.0/content/images/ -->

<div class='content-section'>

    <img src='data:;base64, {{ image[0] }}' class="img-fluid" alt="Post Image"/>
    <br>
    <h5>Author: {{ post[0][3] }}</h5> 
    <p>Time: {{ post[0][4].strftime("%d.%m.%Y") }}</p>
    <h4>Title: {{ post[0][1] }}</h4>
    <p class='article-content'>Description: {{ post[0][2] }}</p>
    Comments: {{ count }}<br>
    {% for comment in comments %}
    {{comment[1]  }}: {{comment[0] }}
    {% endfor %}
    <br>
    <form method='POST' , action=''>
        {{ form.csrf_token }}
        <fieldset class='form-group'>
            <div class='form-group'>
                {% if form.content.errors %}
                {{ form.content(class='form-control form-control-lg is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class='form-control form-control-lg') }}
                {% endif %}
            </div>
        </fieldset>
        
        <div class='form-group'>
            {{ form.submit(class='btn btn-outline-info') }}
        </div>
    </form>
</div>

<script>
    function check(form) {
        if (form.content.value.length > 30) {
            alert('Viesti on liian pitkä');
            return false;
        }
    }
</script>
{% endblock %}