{% extends 'layout.html' %}
{% block content %}


<div class='content-section'>
    <form method='POST' , action='' enctype='multipart/form-data'>
        {{ form.csrf_token }}
        <fieldset class='form-group'>
            <div class='form-group'>
                {{ form.query.label(class='form-control-label') }}

                {% if form.query.errors %}
                {{ form.query(class='form-control form-control-lg is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.query.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.query(class='form-control form-control-lg') }}
                {% endif %}
            </div>
        </fieldset>
        <div class='form-group'>
            {{ form.submit(class='btn btn-outline-info') }}
        </div>
    </form>
</div>
{% for i, post in posts %}
<article class='media content-section'>
    <div class='media-body'>
        <a href='/posts/{{ post[0] }}'> <img src='data:;base64, {{ images[i][0] }}' class="img-fluid" alt="{{ images[i][1] }}" /></a>
        <div class='article-metadata'>
        <a class='mr-2'>Author: {{ post[3] }}</a>
        <a class='text-muted'>{{ post[4].strftime("%d.%m.%Y") }}</a>  
        </div>
        <h5>Title: {{ post[1] }}</h5>
        <p class='article-content'>Description: {{ post[2] }}</p>
        {% if comment_count[i] > 0 %}
        <p>Most Recent Comments:</p>
        {% for comment in comments[i] %}
        <p>{{ comment[0] }}</p>
        {% endfor %}
        {% else %}
        <p>No Comments Yet.</p>
        {% endif %}
        <p><a href='/posts/{{ post[0] }}'>Comment</a></p>
    </div>
</article>
{% endfor %}

{% endblock %}