<!DOCTYPE html>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
<title>tsoha-kuvaruutu - {% block title %}{% endblock %}</title>

<div class='container'>
    <nav class='navbar navbar-expand-sm navbar-light'>
        <a class='navbar-brand'>tsoha-kuvaruutu</a>
        <ul class='navbar-nav'>
            <li class='nav-item'>
                <a class='nav-link' href='/'>Etusivu</a>
            </li>
            {% if not session.user_id %}
            <li class='nav-item'>
                <a class='nav-link' href='/login'>Login</a>
            </li>
            {% else %}
            <li class='nav-item'>
                <a class='nav-link' href='/logout'>Logout</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class='row'>
        <div class='col-8'>
            {% block content %}{% endblock %}
        </div>

        <div class='col-4'>
            Profiili-tab. Tietoja esim. postausten (kuvien) lkm, kommenttien lkm yms. Profiilikuva myös? 
            An optional name for a column or table constraint. If the constraint is violated, the constraint name is
            present in error messages, so constraint names like col must be positive can be used to communicate helpful
            constraint information to client applications. (Double-quotes are needed to specify constraint names that
            contain spaces.) If a constraint name is not specified, the system generates a name.
        </div>
    </div>
</div>






<hr>